body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background-color: #284763;*/
}

html {
    font-size: 62.5%;
}

nav {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #3b6a94;
    border-bottom: 2px #c28b02 solid;
    color: #cca647;
    display: flex;    
    justify-content: center;
    justify-items: center;
    font-size: 1.7rem;
    font-weight: 900;
    min-width: 320px;
    position: static;
}

nav .nav-bar-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-items: baseline;
    margin-left: 20px;
}

nav .nav-bar-menu p {
    margin-right: 20px;
}

.logo {
    margin: 5px 5px 5px 10px;
    padding: 0;
    width: 100%;
    align-content: center;
}

main {
    margin: 0;
    padding: 0;
}

.banner-home {
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: auto;
}

.title-banner-home {
    width: auto;
    position: absolute;
    background-color: #284763c7;
    padding-left: 10px;
    padding-right: 15px;
    margin: 0px;
    border-end-end-radius: 40px;
    border-right: 4px #c28b02 solid;
}

.title-banner-home h1 {
    width: auto;
    font-size: 6.5vw;
    font-family: serif;
    color: #c28b02;
    margin: 0;
    text-shadow: 100px 100px 100px 100px red ;
}

.title-banner-home h4 {
    width: auto;
    font-size: 2.5vw;
    font-family: serif;
    font-style: italic;
    color: white;
    margin: 0;
    padding-right: 15px;
    text-align: right;
}

.card-section {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

.card {
    width: 20%;
    height: auto;
    margin: 5% 10px 5% 10px;
    padding: 0;
    position: static;
    align-content: space-between;
    max-width: 300px;

}

.card-icon {
    width: 70%;
    margin: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5vh;
    padding: 0;
    position: static;
}

.card-icon img {
    width: 100%;
    margin:0;
    padding: 0;
    display: block;
    min-width: 10vw;
}

.card p {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 25%;
    padding: 0;
    display: flex;
    position: static;
    font-size: 1.8vw;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #2a4762;
    min-width: 10vw;
    text-size-adjust: initial;
}